.login {
  h2 {
    color: darkslategray;
    margin: 10px;
  }
  form {
    border: none;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    input {
      margin: 5px;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid dodgerblue;
      &:last-child {
        background-color: dodgerblue;
        border: none;
        border-radius: 10px;
        color: white;
        padding: 5px;

        align-self: center;

        width: 10rem;
        cursor: pointer;

        &[disabled] {
          cursor: progress;
          background-color: #aaaa;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}
